
main {
    background: linear-gradient(white, rgb(230, 97, 97));
    padding: 350px 0;
}

header {
    background:rgba(143, 134, 134, 0.596);
    padding: 120px 0;
}

.logo{
height: 180px;
left: 500px;
object-fit: cover;
position: absolute;
top:10px;
width: 300px;
}

.promociones { 
background-color: aquamarine;
border-radius: 34px;
height: 40px;
left: 110px;
position: absolute;
top:70px;
width: 200px;
cursor: pointer;
}


.texto-buscar{
height: 23px;
left: 900px;
position: absolute;
top:20px;
width: 150px;
}

.buscar{
height: 30px;
left: 1050px;
position: absolute;
font-size: 12px;
top:20px;
width: 50px;
cursor: pointer;
}

.usuario{
height: 30px;
left: 1160px;
object-fit: cover;
position: absolute;
top:20px;
width: 30px;    
cursor: pointer;
}

.carrito{
height: 30px;
left: 1200px;
object-fit: cover;
position: absolute;
top:20px;
width: 30px;    
cursor: pointer;
}

.titulo-datos{
text-align: center;
font-size: 30px;
top: 250px;
position: absolute;
left: 450px;
}

.caja-datos{
background-color: white;
border: 3px solid;
border-color: black;
box-shadow: 0px 4px 4px black;
height: 550px;
left: 400px;
position: absolute;
top: 320px;
width: 500px;
}


form { 
    margin: 40px 0;
}

form label {
    display: block;
    font-size: 20px;
    font-family: "Inter-Bold", Helvetica;
    margin: 10px 50px 0;
}

.input-padron {
    display: block;
    margin: 0 70px 20px;
    padding: 3px 25px;
    width: 50%;
}

.btncontinuar{
    background-color: greenyellow;
    border-radius: 34px;
    height: 40px;
    left: 120px;
    position: absolute;
    width: 200px;
    margin-top: 20px;
    cursor: pointer;
}